esercizio_6.dtd

<!ELEMENT TEI (header, facsimile?, testo+) >
<!ELEMENT header (#PCDATA) >
<!ELEMENT facsimile (#PCDATA) >
<!ELEMENT testo (#PCDATA|seg)* >

<!ATTLIST header type CDATA #FIXED "intestazione">
<!ATTLIST header lang NMTOKEN #IMPLIED>
<!ATTLIST facsimile source CDATA #REQUIRED>
<!ATTLIST facsimile ref IDREFS #IMPLIED>
<!ATTLIST testo id ID #REQUIRED>
<!ATTLIST testo type CDATA #IMPLIED>

<!-- Irene Parlanti
     matricola: 587940
     LM Informatica Umanistica
     Corso Codifica di Testi 19-20-->